*{
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}

html{
	box-sizing: border-box;
}
body{
	box-sizing: inherit;
}
.overflow{
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 25px;
}
/*HEADER*/
.cabecera {
  background-color: #599675;
  display: flex;
  justify-content: space-between;
}

.menu{
  display: flex;
	padding: 0;
	list-style: none;
}

.seccion a{
  display: block;
	padding: 2em;
	text-decoration: none;
	color: white;
	}

.seccion a:hover {
	background-color: #C1EDCC;
	color: #263D42;
}

.submenu-items {
  display: none;
  position: absolute;
  top:100%;
  right: 0;
  list-style: none;
}

.vista {
  position: relative;
}

.vista:hover .submenu-items {
  background-color: #599675;
  display: block;
}

/*contenedor del formulario*/
.resume-container{
	width: 100%;
	display: flex;
	margin:0 auto;
	justify-content: center;
	padding: 20px 0;
	flex-direction: column;
}

/*formulario*/
.resume-form{
	padding: 20px 0;
	/*background-color: grey;*/
	width: 80%;
	margin: 0 auto;
}

h2.section-title {
    text-align: left;
		color:#263D42;
}
.section{
	margin-bottom: 20px;
	border: 1px solid grey;
}

.info{
	background-color: #B0C0BC;
	padding:10px;
}

input{
	display: block;
	    width: 40%;

}

input[type=button]{
	display: inline-block;
	width: 36%;
  display: flex;
	flex-direction: column;
	border-radius: 5px;
background-color: white;
}

.content {
	display: none;
	padding:10px;

}

select {
	display: flex;
	flex-direction: column;
}


/*preview*/

#preview div, #preview span {
    padding: 5px;
}

#preview{

	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	border: 1px solid blue;
	padding-top: 20px;
}


/*Footer*/
footer {
	display:flex;
	background-color: #022F40;
	justify-content: space-around;
	padding: 9px;
	color:white;
	flex-direction: column;
}
footer div{
	/*background-color: yellow;*/
}

.map{
	padding: 15px;
}
iframe{
	width: 250px;
	height: 150px;
}


/*Cuestionario feeback*/
form {
	padding: 20px;
	text-align: justify;
}
.fields{
	display: flex;
	flex-direction: column;
}
.options{
	display: flex;
}
form *{
	padding: 5px;
	margin: 5px;
}

@media all and (min-width: 500px){
	iframe{
		width: 400px;
		height: 300px;
	}
	footer{
		flex-direction: row;
	}

	}
}
