*{
	margin:0;
	padding:0;
}

html{
	box-sizing: border-box;
}
body{
	box-sizing: inherit;
}
.overflow{
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/*HEADER*/
.cabecera {
  background-color: grey;
  display: flex;
  justify-content: space-between;

}

.menu{
  display: flex;
	padding: 0;
	list-style: none;
}

.seccion a{
  display: block;
	padding: 2em;
	background-color: #F9B53C;
	text-decoration: none;
	color: black;
	}

.submenu-items {
  display: none;
  position: absolute;
  top:100%;
  right: 0;
  list-style: none;
}

.vista {
  position: relative;
}

.vista:hover .submenu-items {
  background-color: blue;
  display: block;
}

/*contenedor del formulario*/
.resume-container{
	width: 100%;
	display: flex;
	margin:0 auto;
	justify-content: center;
	padding: 20px 0;

}

/*formulario*/
.resume-form{
	padding: 20px 0;
	/*background-color: grey;*/
	width: 80%;
	margin: 0 auto;
}
.section{
	margin-bottom: 20px;
	border: 1px solid grey;
}

.info{
	background-color: grey;
	padding:10px;
}

input{
	display: block;
}

input[type=button]{
	display: inline-block;
}

.content {
	display: none;
	padding:10px;
}

/*Footer*/
footer {
	display:flex;
	background-color: lightblue;
	justify-content: space-around;
	padding: 9px;
}
footer div{
	background-color: yellow;
}
.map{
	padding: 15px;
}
